# ===========================================
# New Rahad Hosiery & Garments - Frontend Env
# ===========================================

# Django Backend API Base URL
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api/v1

# Frontend Production Canonical Domain (without trailing slash)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
